<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../Tools/Style/slider.css">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <script src="https://kit.fontawesome.com/40582dd944.js" crossorigin="anonymous"></script>
    <title>Page produit</title>
</head>

<body>



    <!-- **********LE SLIDER********* -->

    <main>
        <li>
            <a href="home.html">Retour</a>
        </li>
        <div class="diapo" data-speed="2000" data-transition="700">
            <div class="elements">
                <div class="element">
                    <img src="./../../Tools/Assets/imgProperties/app1/raw4.jpg" alt="app1">

                    <!-- <div class="caption">
                            <h2>Pancakes aux framboises</h2>
                            <p>Crêpes épaisses et moelleuses, cuites à la poêle, garnies de sucre, de beurre et de sirop
                                d'érable, recouvertes de framboises fraiches</p>
                        </div> -->
                </div>
                <div class="element">
                    <img src="./../../Tools/Assets/imgProperties/app1/raw3.jpg" alt="app1">
                    <!-- <div class="caption">
                            <h2>Pizza aux anchois</h2>
                            <p>Composée d'un disque de pâte à pizza croustillant et doré, recouvert de tomates pelées et
                                coupées en rondelles, de fromage fondu et de fines tranches d'anchois.</p>
                        </div> -->
                </div>
                <div class="element">
                    <img src="./../../Tools/Assets/imgProperties/app1/125.jpg" alt="app1">
                    <!-- <div class="caption">
                            <h2>Trempette à nachos</h2>
                            <p>Chips de maïs croustillantes recouvertes de fromage fondu et de diverses garnitures,
                                comme de la viande hachée, des haricots, des tomates, des oignons, des poivrons, du
                                guacamole et de la crème sure.</p>
                        </div> -->
                </div>
                <div class="element">
                    <img src="./../../Tools/Assets/imgProperties/app1/raw2.jpg" alt="app1">
                    <!-- <div class="caption">
                            <h2>Tiramisu</h2>
                            <p>Découvrez ce formidable dessert italien composé de biscuits roulés dans un café tradition
                                de haute qualité, recouvert d'une crème onctueuse et légèrement sucrée</p>
                        </div> -->
                </div>

            </div>
            <!-- Flèches -->
            <i id="nav-gauche" class="las la-chevron-left"></i>
            <i id="nav-droite" class="las la-chevron-right"></i>


        </div>
        <!-- FIN DE SLIDER -->



        <div class="title">
            <h2> Joli appartement au centre-ville </h2>
            <p>GRENOBLE, 38000</p>
        </div>

        <div class="container">

            <div class="description">

                <h4>Description</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere arcu eu lectus iaculis
                    sagittis. Praesent in cursus orci, vel auctor nisl. Suspendisse placerat faucibus ex a ultricies.
                    Aliquam nulla nulla, gravida semper ex ac, aliquet ultricies nulla. Praesent consequat libero
                    convallis diam ultrices, id sollicitudin lectus dignissim. Pellentesque bibendum, turpis ac
                    tincidunt iaculis, velit diam auctor erat, eu facilisis lorem nunc et ante. Sed ac congue urna.
                </p>
            </div>



            <div class="caract">
                <h4>Caractéristiques</h4>

                <i class="fa-sharp fa-solid fa-stairs"></i>
                <i class="fa-solid fa-ruler"></i>
                <i class="fa-solid fa-bed"></i>
                <i class="fa-solid fa-house"></i>
            </div>

            <div class="specifities">

                <h4>Autres spécifités</h4>

                <li>Ascenseur</li>
                <li>Garage</li>
                <li>Cave</li>
            </div>

        </div>

















    </main>
    <script src="./../../Tools/Js/slider.js"></script>
</body>

</html>