form{
    margin: 50px auto;
    position: relative;
    min-width: 370px;
    max-width: 600px;
    width: 95%;
    background: white;
    border-radius: 25px;
    padding: 50px 20px;
    border: 1px var(--border) solid;
    box-shadow: 0 0 5px var(--border);
}

form h2{
    font-size: 20px;
    margin: 0 0 35px 5%;
}

form h2 i{
    margin-right: 10px;
}

form .form-control{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; 
    align-items: center;   
}

form .form-control > label,
form .form-control div > label
{
        width: 100px;
       text-align: end;
       font-weight: 700;
}

form .form-control > input[type="range"]{
    width: 70%;
    margin:  0 0 0 7%;
}

form .form-control .output{
    width: 15%;
    text-align: end;
}

form .form-control.type{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

form .form-control > div{
    display: flex;
    width: 85%;
    margin:  0 0 0 7%;
}

form .form-control div div{
    margin-right: 7%;
}

input[type="submit"]{
    background: var(--primary);
    border: none;
    color: white;
    padding: 10px;
    min-width: min-content;
    width: 30%;
    font-weight: 700 ;
    border-radius: 25px;
    display: block;
    margin: 30px auto 0 auto;
    transition: 500ms;
    cursor: pointer;
}

input[type="submit"]:hover{
    background: var(--hover);
}

input[type="text"], select{
    width: 35%;
    height: 32px;
    min-width: 130px;
    border-radius: 15px;
    border: 1px solid var(--border);
    background: white;
}

input[type="text"]{
    width: 70%;
    padding: 10px;
}

input#codePostal{
    width: 97%;
    max-width: 390px;
}



/*personnalisation des inputs*/
form input[type="checkbox"] {
  display: none;
}

form input[type="checkbox"] + label {
  position: relative;
  z-index: 1000;
  padding-left: 1.3rem;
}

form input[type="checkbox"] + label::before,
form input[type="checkbox"] + label::after {
    display: block;
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    content:'';
    width: 1rem;
    height: 1rem; 
    cursor: pointer;
}

form input[type="checkbox"] + label::before {
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 2px;
}

form input[type="checkbox"]:checked + label::after {
    background-color: var(--primary);
    border-radius: 5px;
    content: '✔️';
}
   
input[type=range]{
    height: .5em;
    color: #ffffff;
    background: rgb(241, 241, 241);
    border: 2px var(--border) solid;
    border-radius: 10px;
}
  

input[type=range]::-webkit-slider-thumb{
    padding: 0;                                              /* largeur du bord */
    border: 1px solid var(--primary);;
    border-radius: 50%;
    background: var(--primary);  
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    padding: 0;                                              /* largeur du bord */
    border: 1px solid var(--primary);;
    border-radius: 50%;
    background: var(--primary);   /* le bord */
    cursor: pointer;
}

  input[type=range]::-ms-thumb {
    padding: 0;                                              /* largeur du bord */
    border: 1px solid var(--primary);;
    border-radius: 50%;
    background: var(--primary);  
    cursor: pointer;
}

.column{
    display: flex ;
    flex-direction: column ;
}

.center-label{
    text-align: center !important;
    margin: auto !important;
    margin-bottom: 30px !important;
}

.caracteristique{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.caracteristique > div{
    margin-inline: 2.5% !important;
    margin-bottom: 20px;
}

.form-control textarea{
    width: 80%;
    min-width: 80%;
    max-width: 80%;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 25px;
    padding: 15px;
    border: 1px solid var(--border);
}


.mid{
    margin: auto;
}

.cp-introuvable{
    display: none;
    background: var(--secondary);
    color: var(--black);
    text-align: center;
    border: 1px solid var(--primary);
    margin: 0 5px;
    border-radius: 5px;
}

 /* on personnalise le label comme on veut */
 /* .photo-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 } */
/* .label-file {
    cursor: pointer;
    color: white;
    font-weight: bold;
    background: var(--primary);
    padding: 5px;
    text-align: center !important;
    width: 49%;
    border-radius: 10px;
} */

 .label-file:hover {
    background: var(--hover);
}

/* et on masque le input */

/* .photo-btn .valide-photo{
    width: 49%;
    cursor: pointer;
    font-weight: bold;
    border: var(--border) 1px solid;
    text-align: center !important;
    width: 49%;
    border-radius: 10px;
    background: var(--secondary);
    transition: 300ms;
}

.photo-btn .valide-photo:hover{
    background: var(--border);
}

.photo-btn .photos{
    display: flex;
} */


/* @media (max-width : 650px){
    .label-file {
        width: 100% !important;
    }
} */