/*slider*/


main {
    /* width: 95%;
    margin: auto; */
    width: 900px;
    margin: 20px auto;
    
  }
  
  li a{
  color: #F15B5C;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  
  }
  
  main li{
  list-style-type: none;
  }
  
  
  .container{
  
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
     
      
      
  
  }
  
  
  
  
  .description{
      width: 60%;
  }
  
  .caract{
      width: 30%;
    
  }
  
  
  
  
  
  
  
  
  
  
  
  
  .diapo {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px auto;
  
  }
  
  .elements {
    display: flex;
    max-height: 400px;
  }
  
  .element {
    flex: 1 0 100%;
    position: relative;  
  }
  
  .element img {
    width: 100%;
    height: 100%; 
  }
  
  #nav-gauche,
  #nav-droite {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
  
  #nav-droite {
    right: 0;
  }